@media (max-width: 2560px) {
  .footer {
    position: relative;
    top: 530px;
    height: 80px;
    background-color: #2c3a40;
    color: #646e73;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 880px) {
  .footer {
    position: relative;
    top: 398px;
  }
}
@media (max-width: 620px) {
  .footer {
    position: relative;
    top: 365px;
  }
}
@media (max-width: 595px) {
  .footer {
    position: relative;
    top: 260px;
  }
}
@media (max-width: 505px) {
  .footer {
    position: relative;
    top: 120px;
  }
}
@media (max-width: 349px) {
  .footer {
    position: relative;
    top: 165px;
  }
}
